<header>
  <nav class="m-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/everydayvalue">EveryDAyVAlue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/bestseller">Bestsellers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/pizza">Pizza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/beverages">Beverages</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
